body{
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
font-family: system-ui;
background-color: #F2F3F3;
}

:root {
  --redcode: brown;
  --white: #ffffff;
  --primarycolor:#283949;
}

/* width */
::-webkit-scrollbar {
    width: 7px !important;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(174, 174, 174); 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--redcode); 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  var(--redcode); 
  }
.main_container{
    display: flex;
    justify-content: center;
}
h2,h3{
  font-weight: 600;
}
h2,h3,h4,p{
  font-family: var(--font-inter);
}
p{
  color: #434343;
}
@media only screen and (max-width:770px) {
    h2{
        font-size: 20px !important;
    }
}
@media only screen and (max-width:770px) {
    h5{
        font-size: 12px !important;
    }
}
