body{
width: 100%;
height: 100vh;
margin: 0;
padding: 0;
font-family: system-ui;
background-color: #F2F3F3;
}

:root {
  --redcode: #a52a2a;
  --white: #ffffff;
  --primarycolor:#283949;
  --para_color:#434343;
  --border_color:#e8e5e5
}

/* @font-face {
  font-family: nunito;
  src: url(../public/fonts/static/Nunito-Regular.ttf);
}
html{
  font-family: nunito !important;
} */

/* width */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(201, 201, 201); 
    border-radius: 3px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--redcode); 
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  var(--redcode); 
  }
.main_container{
    display: flex;
    justify-content: center;
}
h2,h3{
  font-weight: 600;
}
h2,h3,h4,p{
  font-family: var(--font-inter);
}
p{
  color: #434343;
}
main{
  margin-top: 85px;
  padding-top: 1px;
}

textarea:focus, input:focus{
  outline: none;
  background-color: rgb(224, 238, 245);
}
@media only screen and (max-width:770px) {
    h2{
        font-size: 20px !important;
    }
    ::-webkit-scrollbar {
      width: 1px !important;
      height: 1px;
    }
    h5{
      font-size: 12px !important;
  }
}

@media (max-width:800px) {
  main{
    margin-top: 0;
  }
}
