.upload_ad_page{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
.upload_ad_page .mobileview_nav{
  background: #213974;;
  display: flex;
  justify-content: space-between;
  min-height: fit-content;
  /* align-items: center; */
  position: sticky;
display: none;
}
.upload_ad_page .mobileview_nav .nav_elem{
    padding: 6px 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload_ad_page .mobileview_nav .nav_elem span{
    font-size: large;
    font-weight: 400;
}
.upload_ad_page .mobileview_nav .nav_elem i{
    font-size: 40px;
    font-weight: 500;
}
.upload_ad_page .uploadpage_banner{
    width: 99%;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgb(197, 197, 197);
    margin: 20px 0px;
}
.upload_ad_page .uploadpage_banner .banner_title{
    text-align: center;
    margin-bottom: 30px;
}
.upload_ad_page .uploadpage_banner .banner_title h1{
    color: #213974;
    margin-bottom: 3px;
}
.uploadpage_banner .banner_title p{
margin: 0;
}
.upload_ad_page .uploadpage_banner .banner_icons{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}
.upload_ad_page .uploadpage_banner .banner_icons .icons{
    display: flex;
    align-items: center;
    margin: auto 10px;
}
.banner_icons .icons i{
    font-size: xx-large;
    color: rgb(3, 104, 138) !important;
}
.upload_ad_page .uploadpage_banner .banner_icons .icons i,.banner_icons .icons p{
    margin: auto 5px;
    color: rgb(68, 68, 68);
}

.postad_formsection{
     width: 100%;
     margin: 0;
     display: flex;
  justify-content: center;
}
.postad_formsection .car_info{
display: flex;
/* justify-content: center; */
flex-direction: column;
width: max(70vw, min(700px,90vw));
}
.postad_formsection .car_info .form_title{
padding:0px 20px;
}
.car_info .form_section{
display: flex;
justify-content: center;
flex-direction: column;
}
.car_info .form_section form{
    display: flex;
    flex-direction: column;
   
    border: 1px solid;
    padding-left: 1%;
}
.car_info .form_section form .upper_form_section,.form_section form .upload_img_section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
    padding-right: 20px;
    background: white;
    margin-bottom: 50px;
   
}
.upload_ad_page form .upper_form_section .input_field{
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 10%;
}
.upload_ad_page form .upper_form_section .input_field div{
display: flex;
flex-direction: column;
width: 50%;
}

.upload_ad_page form .upper_form_section .input_field i{
    font-size: 28px;
    margin: 5px 15px 5px 20px;
   
}
.upper_form_section .input_field .bxs-car{
    color: gray;
    background: #ededed;
    padding: 8px;
    border-radius: 50%;
}
.upload_ad_page form .upper_form_section .input_field div label{
    font-size: calc(0.8vw + 5px);
    font-weight: 500;
    margin-bottom: 3px;
}
.upload_ad_page form .upper_form_section .input_field div label .resetbtn{
    float: right;
    cursor: pointer;
    border: 1px solid rgb(0, 92, 145) !important;
    width: 55px;
    border-radius: 20px;
    color: rgb(0, 92, 145);
    text-align: center;
 
    height: 20px;
}
.upload_ad_page form .upper_form_section .input_field div select,.upper_form_section .input_field textarea{
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(221 220 220);
    font-size: 14px;
    padding-left: 5px;
    color: #727171;
}
.upload_ad_page form .upper_form_section .input_field p,.bx-error-circle{
    font-size: 14px;
    color: rgb(216, 1, 1);
    margin: 0;
}
.upload_ad_page form .upper_form_section .input_field .discription_area{
width: 90%;
height: auto !important;
}
.upper_form_section .input_field .discription_area textarea{
    width: 100% !important;
    transition:.5s;
    min-height: 130px !important;
    color: rgb(36, 36, 36) !important;
    /* width: ; */
}

.form_section form .upload_img_section{
    padding: 10px;
}
.form_section form .upload_img_section .upload_img_input{
    min-height: 300px;
    border: 2px solid rgb(0, 92, 145);
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}