
.profile_div{
    background-color: rgb(247, 247, 247);
    width: max(70vw, min(700px,90vw));
    border: 1px solid rgb(177, 177, 177);
    height: fit-content;
    padding: 30px;
    margin: 30px;
}
/* .profile_div .profile_avatar{
     border-bottom: 1px solid #c3c3c3; 
} */

.profile_div .profile_tag{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 20px;
margin: 20px 0px;
font-size: max(2vw,20px);
}
.profile_div .profile_tag h2{
    font-weight: 400;
    font-size: max(26px,2vw);
    width: 50%;
}
.profile_div .profile_tag .profile_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    height: fit-content;
}
.profile_div .profile_tag .profile_links a{
    font-size: small;
    text-decoration: none;
    margin: 0px 2px;
    word-spacing: 0px;
    color: #007cd5;
    padding: 0px 2px;
    font-weight: 500;
    height: fit-content;
}
.profile_div .profile_tag .profile_links a:first-child{
    border-right: 1px solid rgb(190, 190, 190);
    padding: 0px 9px;
}
.profile_div .avatar_section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.profile_div .avatar_section .profile_image{
    border-radius: 50%;
    border: 3px solid #e6eaf3;
    margin: 0px 25px 20px 25px;
    overflow: hidden;

    width: 100px;
    height: 100px;
}
.profile_div .avatar_section .profile_warning{
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    height: fit-content;
    padding: 7px;
    border-radius: 3px;
}
.profile_div .profile_form{
    padding:0px 20px ;
}
.profile_div .profile_form form .inputs{
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}
.profile_form form .inputs label{
    margin: 10px;
    font-size: 16px;
    width: 120px;
    text-align: initial;
}
.profile_form form .inputs input,form .inputs select{
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 4px;
    color: #4c4c4c;
    padding: 15px 18px;
    font-size: 14px;
    vertical-align: middle;
    width: -webkit-fill-available;
    max-width: 356px;
}
.profile_form form .inputs .option {
    /* color: #000; */
    padding: 0 10px;
    height: 48px;
}
/* .profile_form form .btninput{
 
max-width: 60%;
}
*/
.profile_form form .inputs .btn , .savechanges button{
    background: #213974;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: medium;
    cursor: pointer;

} 
.profile_div .savechanges {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

hr{
    color: #c3c3c3;
    height: 1px;
}

@media only screen and (max-width: 770px){
    .profile_div{
        margin:0;
        padding: 0px;
        width: 100%;
        border: none;
    }
    .profile_div .profile_tag{
        margin: 0px 0px 10px 0px;
        background-color: #233D7A;
        padding: 10px;
    }
    .profile_div .profile_tag h2{
        color: #e6eaf3;
        font-size: large;
    }
    .profile_div .profile_tag .profile_links{
        display: none;
    }
    .profile_div .avatar_section{
        margin: 0;
    }
    .profile_div .avatar_section .profile_image{
        margin: 5px;
    }
    .profile_div .avatar_section .profile_warning{
       font-size: small;
       display: none;
    }
   
    .profile_form form .inputs label{
        margin: 0px;
    font-size: 13px;
    font-weight: 600;
    /* padding-left: 10px; */
    }
    .profile_div .profile_form form .inputs{
        margin: 20px 0px
    }
    .profile_form form .inputs input,form .inputs select{
   padding: 7px 0px !important;
   border-radius: 0;
   border: none;
   border-bottom: 1px solid #c4c4c4;
   height: auto !important;
   background-color: transparent;
   max-width: 100%;
   
    }
    /* .profile_form form .inputs:nth-child(4){
      display: none;
    } */
    .profile_form form .inputs:nth-child(5){
      display: none;
    }

}