.main_searchcar{
    width: max(80vw, min(700px,90vw));
    /* border: 1px solid; */
    margin: auto;
}
.main_searchcar .filters_sort_section{
    display: none;
    padding: 10px 5px;
}
.main_searchcar .filters_sort_section button{
    border: none;
    margin: 3px;
    position: relative;
    display: flex;
    background: white;
}
.main_searchcar .filters_sort_section i{
   font-size: x-large;
}
.main_searchcar .filters_sort_section .length_icon{
    position: absolute;
    top: -8px;
    left: 24%;
    background-color: #e30000;
    border-radius: 50%;
    padding: 0px 6px;
    color: white;
    font-size: 11px;
    font-weight: 700;
}

.main_searchcar .head{
    margin-top: 50px;
}
.main_searchcar .head h1{
    font-size: max(17px,2.2vw);
    color: #213974;
    margin: 15px 0px;
}
.cars_and_filters{
    display: flex;
}
.filters{
    width: 26%;
    margin-right: 10px;
}
.cars{
    width: 72%;
}
.singlecar_link{
    text-decoration: none;
    color: #3a3a3a;  
}
.singlecar{
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.car_img{
    width: 23%;
    border: 1px solid;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000e0;
    height: 150px;
    overflow: hidden;
}
.car_img img{
    width: 100%;
    height: auto;
}
.car_info{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 10px;
}
.car_content{
    margin: 10px 0px;
}
.car_content h3{
    font-size:max(15px , 1.5vw);
color: #213974;
text-decoration: none;
}
.car_content a{
    text-decoration: none;
}

.car_content div > span,.car_content > p{
    font-size: max(14px , 1.2vw);
}
.car_content div > span{
    padding: 0px 10px;
    border-right: 2px solid #d9d9d9;
}
.car_content div span:nth-child(1){
    padding-left: 0;
        }
/* .car_price_section h3{
font-size: x-large;
} */
.car_price_section{
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.car_price_section button{
    padding: 3px 15px;
    border: none;
    background-color: #318F3A;
    font-size: medium;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    height: 30px;
    width: 150px;
}
.car_price_section button:hover{
    background-color: #276b2e;
}
.bx-heart{
    margin: 10px;
    font-size: x-large;
    cursor: pointer;
    color:  #ff5642;
    font-weight: 300;
    transition: all .2s;
}
.bx-heart:hover{
    transform: scale(1.3);
}
.price_mbv{
    display: none;
}

.back_arrow{
    transform: rotateZ(90deg);
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3px;
}

@media only screen and (max-width:770px) {
    .main_searchcar{
        width: auto !important;
    }
    
    .main_searchcar .filters_sort_section{
        display: block;
        background-color: white;
        position: sticky;
        top: 70px;
        z-index: 2;
    }
    .main_searchcar .head{
        margin: 5px;
    }
    .filters{
        position: absolute;
        top: 70px;
        display: none;
        width:auto;
        margin: 0;
        background-color: rgb(255, 255, 255);
        z-index: 22;
    }
    .filtermodal .head_banner{
        position: sticky;
        top: 0;
        z-index: 5;
    }
    .singlecar{
        margin: 5px;
        margin-bottom: 0;
    }
    .cars{
        /* width: auto !important; */
        width: 100%;
    }
    .price_mbv{
        display: block;
    }
    .car_price_section .phone_num{
     display: none;
    }
    .car_img{
        width: 210px !important;
        height: 130px;
        overflow: hidden;
    }
    .car_info{
        margin: 0;
        position: relative;
    }
    .car_price_section{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .bx-heart{
        font-size: 25px;
        margin: 5px;
    }
    .car_content p{
        margin-bottom: 2px;
    }
    .car_content div{
        display: flex;
        flex-wrap: wrap;
    }
    .car_content div span{
        color: #616161;
    }
    
    .car_content div span:nth-child(2), .car_content div span:nth-child(3){
        display: none;
    }
    .car_price_fav > h3{
     display: none;
    }

}