.image_show_modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 90%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /* background: rgba(255, 255, 255, 0.13); */
    color: aliceblue;
    z-index: 100000000;
}
.close_btn{
    width: 100%;
    height: fit-content;
    background-color: black;

}
.image_show_modal i{
   font-size: xxx-large;
    float: right;
    margin: 10px;
}
.image_show_modal .imginmodal{
    width: 100%;
    padding: 10px;
    text-align: center;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    overflow: auto;
  justify-content: center;
}
.image_show_modal .imginmodal img{
    width: auto;
    height: 100%;
    margin: 10px auto;

}
.image_show_modal button{
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px 25px;
    background: #ff2d2d;
    color: white;
    font-size: larger;
    font-weight: 500;
}
.image_show_modal .setcover_photo_btn{
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-size: medium;
}
.client_imgs {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.client_imgs div{
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: .4s;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .image_show_modal .imginmodal img{
        width: 100%;
        height: auto;
    } 
    .client_imgs div{
        /* overflow: scroll; */
    }
}



