.singlecar_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.singlecar_page .inner_main {
    width: max(74vw, min(700px, 90vw));
    /* border: 1px solid; */
    margin: auto;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
}

.singlecar_page .car_section h1 {
    font-size: max(19px, 2.2vw);
}

.singlecar_page .car_section {
    width: 70%;
    /* border: 1px solid; */
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgb(230 230 230);

}

.singlecar_page .img_section {
    display: flex;
    overflow: hidden;
    object-fit: contain;
}

.singlecar_page .img_section img {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: .4s;
    flex-shrink: 0;
    flex-grow: 0;
}

.singlecar_page .car_section .car_specs {
    display: flex;
    margin: 20px 0px;

}

.singlecar_page .car_section .single_spec p {
    margin: 0;
}

.singlecar_page .car_section .single_spec {
    margin: 5px;
    border: 1px solid rgb(230 230 230);
    text-align: center;
    width: 25%;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(230 230 230);

}

.singlecar_page .car_section .single_spec i {
    font-size: xx-large;
    color: var(--redcode);
    margin: 10px;
}

.singlecar_page .car_section .car_incepection {
    border: 1px solid rgb(191 191 191);
    margin: 20px 0px;
}

.singlecar_page .car_section .car_details {
    /* border: 1px solid rgb(191 191 191); */
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}

.singlecar_page .car_section .car_details .single_detail {
    border-bottom: 1px solid rgb(200 200 200);
    box-shadow: 0px 0px 10px 0px rgb(230 230 230);
    padding: 12px 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 47%;
    margin: 0px 5px;
}

.singlecar_page .car_section .car_details .single_detail span {
    font-size: 14px;
}

.singlecar_page .car_section .car_details .single_detail span:first-child {
    font-weight: 600;
}

.singlecar_page .car_section .car_features {
    margin: 20px 0px;
    padding: 10px;
}

.singlecar_page .car_section .car_comments {
    /* margin: 20px 0px;  */
    padding: 10px;
}

.singlecar_page .car_section .car_features .features {
    display: flex;
    flex-wrap: wrap;
}

.singlecar_page .car_section .car_features .features p {
    /* margin: 20px 0px;   */
    margin: 10px 0px;
    width: 33%;
    font-size: 14px;
}

.singlecar_page .car_section .car_upper_section h2 {
    margin-bottom: 20px;
    display: none;
}

.singlecar_page .car_section .car_comments p {
    /* margin-top: 20px; */
    font-size: 14px;
}


.seller_details {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 0px rgb(230 230 230);
}

.seller_details h5 {
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-bottom: 10px;
}

.seller_details .seller_name {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.seller_details .seller_name img {
    width: 50px;
    height: auto;
}

.seller_details .seller_name div {
    text-align: left;
}

.seller_details .seller_name div p {
    font-size: smaller;
    margin: 0px 10px;
    color: var(--redcode);
    font-weight: 500;
}

.seller_details i {
    font-size: x-large;
    margin: 0px 10px;
    color: whitesmoke;
    background-color: var(--redcode);
    border-radius: 50%;
    padding: 7px;
    font-weight: 300;
    margin-top: 10px;
}



.singlecar_page .post_ad_link,
.singlecar_page .post_ad_link p {
    text-align: center;
    margin-bottom: 30px;
}

.singlecar_page .post_ad_link h3 {
    color: var(--redcode);
    margin-top: 10px;
}

.singlecar_page .post_ad_link a {
    font-size: larger;
    font-weight: 500;
    margin-top: 30px;
    padding: 7px 20px;
    background-color: rgb(69, 161, 69);
    text-decoration: none;
    color: white;
}

.singlecar_page .img_section {
    position: relative;
    /* border: 1px solid rgb(191 191 191); */
    border: 1px solid rgb(230 230 230);
    box-shadow: 0px 0px 10px 0px rgb(230 230 230);
}

.left_arrow,
.right_arrow {
    position: absolute;
    cursor: pointer;
    top: 38%;
    font-size: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    background-color: rgb(0 0 0 / 25%);
}

.left_arrow {
    left: 0px;
}

.right_arrow {
    right: 0px;
}





.report_add_btn {
    border: 1px solid var(--redcode);
    width: 100%;
    font-size: 15px;
    padding: 3px;
    font-weight: 500;
    color: var(--redcode);
    background-color: white;
}

.Call_contact_bar {
    position: fixed;
    bottom: 70px;
    right: 0;
    z-index: 50;
    margin: 10px;
}
.Call_contact_bar a > div{
    margin: 10px;
    padding: 10px 10px 5px 10px;
    /* background: var(--primarycolor); */
    color: white;
    border-radius: 50%;
    cursor: pointer;
 
}

.Call_contact_bar a > div > i{
    font-size: max(35px,3vw);
}
.incepection_report_div{
    padding: 20px;
    background-color: #e8f0ff;
    margin-bottom: 20px;
}

.incepection_report_div .car_parts{
    margin: 25px 0px;
}
.incepection_report_div .o_rating{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.incepection_report_div .o_rating span{
    font-weight: 600;
}

.incepection_report_div .car_parts > div:first-child{
display: flex;
justify-content: space-between;
}
.incepection_report_div .range{
    height: 6px;
    /* border: 1px solid; */
    border-radius: 5px;
    background: #b1b1b17a;
}
.incepection_report_div .range > .inner_range{
    height: 6px;
    border-radius: 5px;
    background-color: rgb(19, 129, 255);
}
.incepection_report_div > span{
    font-size: smaller;
    color: #494848;
}
.incepection_report_div .full_inspec_link button{
  border: none;
  padding: 10px 20px;
  background-color: var(--redcode);
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px ;
  width: -webkit-fill-available;
}


@media only screen and (max-width:770px) {
    .singlecar_page .inner_main {
        flex-direction: column;
        width: auto;
        margin-top: 0;
        margin-bottom: 50px;
    }

    .singlecar_page .car_section {
        width: auto;
        margin-right: 0;
        padding: 10px
            /* margin: auto; */
    }

    .singlecar_page .car_section .car_details .single_detail {
        width: 100%;
    }

    .singlecar_page .car_section .single_spec {
        padding: 5px;
        border: none;
    }

    .seller_section {
        margin: 5px;
    }

    .seller_section .contact_dtals {
        display: none;
    }

    .singlecar_page .car_section h2 {
        display: block !important;
    }
}