.utubeupload .input_label label {
    display: block;
    font-weight: 600;
    font-size: larger;
}

.utubeupload .input_label {
    padding: 10px;
    width: min(700px, 95vw);
    margin: auto;
}

.utubeupload .input_label input {
    width: -webkit-fill-available;
}

.utubeupload .upload_btn {
    width: -webkit-fill-available;
    border: none;
    background-color: rgb(0, 102, 51);
    padding: 10px;
    color: white;
    font-weight: 400;
}

.main_videos .videos_header {
    background-color: var(--redcode);
    padding: 20px 0px;
}

.main_videos .videos_header h1 {
    color: white;
}

.main_videos .container {
    width: max(80vw, min(700px, 99vw));
    margin: auto;
}

.main_videos .search_bar {
    display: flex;
}

.main_videos .container input {
    margin: 3px;
    flex-grow: 8;
    height: 40px;
}
.main_iframe{
    height: min(400px,65vw);
    width: 100%;
    margin-top: 10%;
}
.main_videos .container button {
    padding: 0px 15px;
    border: none;
    background: #45b34f;
    color: white;
    /* height: 40px; */
    font-size: larger;
    flex-grow: 2;
    margin: 3px;
}

.component_container {
    margin: 30px 0px;
}

.component_container .flex_cntaner_ifrmes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3vw 0px;
}

.component_container .flex_cntaner_ifrmes .card {
    margin: 5px;
    width: max(24vw, min(200px, 43vw));
    /* height: max(22vw, min(200px, 40vw)); */
    box-shadow: 0px 0px 9px 0px #c1c1c1;
}

.home_videos_sec a,
.component_container .flex_cntaner_ifrmes .card a {
    text-decoration: none;
}

.component_container .flex_cntaner_ifrmes .img_div {
    height: max(100px, 15vw);
    position: relative;
}


.component_container .flex_cntaner_ifrmes .img_div span.play_icon{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: medium;
    color: aliceblue;
    background: black;
    padding: 10px 13px;
    border-radius: 50%;
}
.home_videos_sec .img_div img,
.component_container .flex_cntaner_ifrmes img {
    width: -webkit-fill-available;
    object-fit: cover;
    height: 100%;
}
.home_videos_sec .second_div .img_div  img{
    height: 160px !important;
}
.component_container .flex_cntaner_ifrmes p{
    font-size: max(14px,1.5vw);
    margin: 10px;
    color: rgb(45, 45, 45);
    line-height: 20px;
}

.home_videos_sec{
    display: flex;
    justify-content: space-evenly;
}
.home_videos_sec .card{
    margin: 5px;
   overflow: hidden;
}
.home_videos_sec .second_div .card{
    width: max(22.4vw, min(200px, 42vw));
}
.home_videos_sec .second_div{
    width: 27%;
}
.home_videos_sec .first_div{
    width: 50%;
}

.home_videos_sec .img_div span.play_icon{
    position: absolute;
    color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.home_videos_sec .img_div span.play_icon span{
    padding: 10px 15px;
    background-color: #000000ad;
    font-size: 20px;
    border-radius: 50%;
}
.home_videos_sec a p{
    font-size: max(14px,1.2vw);
    padding: 7px;
    margin: 0;
}
@media only screen and (max-width:770px) {
    .home_videos_sec{
        flex-direction: column;
    }
    .home_videos_sec .first_div,    .home_videos_sec .second_div {
        width: 100%;  
    }
    .home_videos_sec .second_div {
        display: flex;
        justify-content: center;
    }
    .home_videos_sec .second_div > div{
      width: 48%;
    }

}

/* .home_videos_sec . */